@import '~semantic-ui-css/semantic.min.css';
@import 'Articles';
@import 'Banner';
@import url('../assets/fonts/nunito/font.css');

body,
.ui {
  font-family: 'Nunito', sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.is-active {
  font-weight: bold;
}

.content-wrapper {
  margin-bottom: 10rem;
}
