.ArticleBody {
    padding: 30px;
    font-size: 1.2rem;
}

.SubmainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-content: center;
    justify-content: center
}

.actionButtons {
    padding: 10px;
}

.LikeDislikeButton {
    border: none;
    cursor: pointer;
    transition: .3s all;
    margin-left: 15px;
    outline: none;
    background: transparent;
}

.LikeDislikeButton:active{
    transform: translateY(2px);
}
