.CreateArticleForm {
    margin: 6%;
    display: grid;
    align-items: center;
}

.ck-editor__editable {
    min-height: 200px !important;
    margin-bottom: 10px !important;
}

.ImageInputField {
    margin-bottom: 10px;
}
